<ion-view view-title="浙江省科协简介">
	<ion-content class="padding">
	  <p>浙江省科学技术协会，成立于1958年10月，系浙江省科联和浙江省科普协会合并而成。省科协由153个省级学会（协会、研究会、促进会）、11个市级科协及26个省属企事业科协组成，其中省级学会团体会员11622个，个人会员15万人，遍及全省理、工、农、医和综合类学科。</p>
	  <p>
	  省科协机关内设办公室、组织人事部、学会部、科普部、宣传调研部和机关党委，机关在职人员43人。下属7个事业单位，分别是：国际民间科技交流中心(台、港、澳民间科技交流中心)、科技教育中心、科技馆、科技咨询中心、信息中心、综合服务中心和《科学24小时》杂志社。事业单位在职人员119人，现有离退休人员97人。
省科协主办的刊物有学术期刊《科技通报》、科普杂志《科学24小时》、工作内刊《浙江科协》、《浙江科协信息》、《科协工作专报》和大众科技网站，以及为省委、省政府决策服务的《科技工作者建议》。其中，《科技通报》系国家中文核心期刊。
根据2009年全省科技人员状况调查，我省现有科技人员171.58万人，占全省总人口的3.35%，呈逐年增长趋势。曾在浙江工作过和浙江籍的“两院”院士共有356人，其中，浙江籍院士223人，在全国排名第三。目前在浙“两院”院士30人，省特级科技专家50人（含社科类10人）。
	  </p>
	</ion-content>
</ion-view>